*, *::before, *::after {
  box-sizing: border-box;
}

html{
    font-size: 16px;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
    min-height: 100vh;    
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

h1 {
  font-size: 3.1rem;
}

h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.7rem;
}

h6 {
  font-size: 1.4rem;
}

p {
  font-size: 1 rem;
  margin-bottom: 0.5rem;
}


.m-0{
  margin: 0;
}

.p-0{
  padding: 0;
}

.mx-auto{
  margin: 0 auto;
}

.w-full{
  width: 100%;
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.justify-between{
  justify-content: space-between;
}

.justify-evenly{
  justify-content: space-evenly;
}

.justify-around{
  justify-content: space-around;
}

.uppercase{
  text-transform: uppercase;
}

.indent{
  text-indent: 25px;
}

.container{
  max-width: 900px;
  margin: 0 auto;
}

.font-nsw{font-family: 'Edu NSW ACT Foundation', cursive;}
.font-noto{font-family: 'Noto Serif Lao', serif;}
.font-oswald{font-family: 'Oswald', sans-serif;}
.font-partickhand{font-family: 'Patrick Hand', cursive;}
.font-robotocon{font-family: 'Roboto Condensed', sans-serif;}
.font-yellowtail{font-family: 'Yellowtail', cursive;}

.fw-300{
  font-weight: 300;
}



nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1.75rem 0;
  width: 100%;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
height: 50px;
width: 50px;
margin-right: 10px;
}



.logoText h1,
.logoText p{
  margin: 0;
  text-align: start;
}

.logoText h1{
  font-family: 'Yellowtail', cursive;
  font-size: 2.75rem;
}
.logoText p{
  font-size: .75rem;
}


.sLinksContainer{
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.sLinksContainer div:nth-child(2){
  padding-left: 10px;
}

.hrImg{
  height: 12px;
  margin-bottom: 30px;
  border: none;
  background-image: url(./img/hr-img.png);
}

.blogHeading{
  margin-top: 30px;
}

.blogHeading h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.blogHeading div p{
  color: rgb(130, 130, 130);
  font-size: .75rem;
}

.blogHeading button{
  background-color: transparent;
  border: none;
  color: rgb(130, 130, 130)
}

.my-15{
  margin: 15px 0;
}

.ingredients{
  background-image: url('./img/list-bg.png');
  background-repeat: no-repeat;
  padding: 2.2rem 5rem;
  margin-bottom: 45px;
}

.blogBody p{
  font-family: 'Noto Serif Lao', serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgb(91, 91, 91);
  margin-bottom: 30px;
}

.ingredient-list div+div{
  margin-top: 15px;
}

.ingredient-list label{
  color: rgb(104, 103, 103);
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5rem;
}

.ingredient-list input[type="checkbox"]{
  accent-color: rgb(254,251,234);
  background-color: rgb(254,251,234);
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 1em solid rgba(128, 128, 128, 0.7);
  border-radius: 4px;
}
.ingredient-list input:checked+label{
  text-decoration: line-through;
}

.blogFooter{
  display:  flex;
  align-items: center;
  justify-content: space-evenly;
}

.blogFooter .authorInfo{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  color: rgb(69, 69, 69);

}

.blogFooter .authorInfo h3{
  font-weight: 700;
  padding-bottom: 10px;
}

.blogFooter button{
  background-color: rgb(250, 141, 114);
  color: #fff;
  width: 25%;
  padding: 15px 10px;
  border: none;
}

hr.footerHr{
	margin: 45px 0;
	border-top: 1px solid rgba(153, 153, 153, 0.20);
}

hr.footerHr::after{
	content: url(./img/small-logo.png);
	left: 50%;
	position: absolute;
	transform: translateY(-50%) translateX(-50%);
	/* Controls the whitespace around the symbol */
	padding: 5px;
	background: #fff;
}

footer p{
  text-align: center;
  color: rgb(104, 103, 103);

}